# APG Base Template: Python Web Artifact
# File: __init__.py.template
# Framework: python
#
# This file is part of the Python Web Artifact base template.
# Capabilities will be integrated into this base structure.
