# APG Base Template: Real-Time Application
# File: __init__.py.template
# Framework: Flask-SocketIO
#
# This file is part of the Real-Time Application base template.
# Capabilities will be integrated into this base structure.
