# APG Template File: README.md.template
# Template: Simple Agent
# Domain: General
#
# This file will contain the complete implementation for Simple Agent.
# TODO: Implement README.md.template for Simple Agent
