# APG Base Template: API-Only Service
# File: __init__.py.template
# Framework: FastAPI
#
# This file is part of the API-Only Service base template.
# Capabilities will be integrated into this base structure.
