# APG Base Template: Flask Web Application
# File: __init__.py.template
# Framework: Flask-AppBuilder
#
# This file is part of the Flask Web Application base template.
# Capabilities will be integrated into this base structure.
