# APG Template File: views/__init__.py.template
# Template: Human Resources Management
# Domain: Human Resources
#
# This file will contain the complete implementation for Human Resources Management.
# TODO: Implement views/__init__.py.template for Human Resources Management
